.post {
  background-color: #202024;
  border-radius: 8px;
  padding: 2.5rem;
  position: relative;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: #c4c4cc;
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: #00875f;
  text-decoration: none;
}

.content a:hover {
  color: #00B37E;
}

.post > header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color: #8d8d99;
}

.postDate time.edited {
  color: red;
}

.postLike button {
  background: transparent;
  border: 0;
  color: #8d8d99;
  cursor: pointer;
  margin-top: 1rem;
  display: flex;
  align-items: center;

  border-radius: 2px;
}

.postLike button svg {
  margin-right: 0.5rem;
}

.postLike button svg path {
  stroke-width: 1.36rem;
  stroke:#8D8D99;
}

.postLike button span::before {
  content: "\2022";
  padding: 0 0.25rem;
}

.actionButtons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.actionButtons button {
  background: transparent;
  color: #8d8d99;
  border: none;
  cursor: pointer;

}

.actionButtons button:first-child {
  margin-right: 1rem; /* Remove o margin-left do primeiro botão */
}

.actionButtons button:nth-child(2) {
  margin-right: 1rem; /* Remove o margin-left do primeiro botão */
}

.post:hover .actionButtons {
  opacity: 1;
}

.editButtons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1.5rem;

}

.editButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  border-radius: 8%;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton {
  color: #00B37E;
}

.saveButton:hover {
  color:rgb(13, 230, 165)
}

.closeButton {
  color: #8d8d99;
}

.closeButton svg {
  width: 20px;
  height: 20px;
}

.closeButton svg:hover {
  color: #F75A68;
}

.editText {
  background-color: red;
  width: 100%;
  background: #121214;
  border: 0;
  resize: none;
  height: 10rem;
  padding: 0.8rem 1rem 0;
  border-radius: 8px;
  color: #e1e1e6;
  line-height: 1.4;
  margin-top: 1rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong{
  color: #e1e1e6;
  line-height: 1.6;
}

.authorInfo span {
  display: block;
  font-size: 0.875rem;
  color: #8d8d99;
  line-height: 1.6;
}

.hashtags {
  display: flex;
  gap: 0.25rem;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #323238;
}

.commentForm > strong { 
  line-height: 1.6;
  color: #e1e1e6;
  font-weight: 700;
}

.commentForm textarea {
  width: 100%;
  background: #121214;
  border: 0;
  resize: none;
  height: 6rem;
  padding: 0.8rem 1rem 0;
  border-radius: 8px;
  color: #e1e1e6;
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type=submit] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background-color: #00875f;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

.commentForm button[type=submit]:not(:disabled):hover {
  background: #00B37E;
}

.commentForm button[type=submit]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.commentList {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .actionButtons {
    opacity: 0.5;
  }
  
  .post > header time {
    display: block;
  }
}